{% extends "base.html" %} {% block content %}

<section class="content">
    <div class="article">
        <p>Data scientist at
            <a href="https://www.endgame.com/our-experts/phil-roth">Endgame</a>. Passionate about machine learning, data
            visualization,
            <a href="https://www.strava.com/athletes/15139359">running</a>, ultimate frisbee, and
            <a href="https://www.goodreads.com/user/show/1352971-phil">choosing a good book</a> to read next.</p>
        <p>I studied physics at Penn State and the University of Maryland where I searched for neutrinos with the
            <a href="https://icecube.wisc.edu/">IceCube</a> detector. It was in graduate school that I got the
            opportunity to help build the detector on location
            at the South Pole.</p>
        <p>After earning a PhD, I worked at a
            <a href="http://usersystems.com/">small consultancy</a> focused on the design and operation of Synthetic
            Aperture Radar (SAR) systems. </p>
        <p>Now, I train
            <a href="https://www.endgame.com/blog/technical-blog/world-meet-malwarescore">machine learning models</a> to
            recognize malicious programs and
            <a href="https://www.endgame.com/blog/technical-blog/introducing-ember-open-source-classifier-and-dataset">do
                research around</a> machine learning in infosec.</p>
        <p>
            <center>
                <img alt="South Pole" src="/images/pole.jpg">
            </center>
        </p>
    </div>
</section>

{% endblock content %}