.headerdiv, .filterdiv, .statdiv {
    text-align:center;
}

.headertext {
    font-size: 34px;
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.filtertext {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.stattext {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.legendtext {
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.xlabel, .ylabel {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.bar rect {
    shape-rendering: crispEdges;
}

.sdgrect {
    fill: #0F83B8;
}

.tamrect {
    fill: #A71930;
}

.gamerect {
    fill: #FF7A00;
    stroke: black;
    stroke-width: 2px;
}

.tick text {
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.statbuttondiv {
    margin: 0px 0px 0px 100px;
}

.qbbuttondiv {
    margin: 0px 0px 0px 180px;
}

.yearbuttondiv {
    margin: 0px 0px 0px 190px;
}

.playoffbuttondiv {
    margin: 0px 0px 0px 340px;
}

.statbutton {
    float: left;
    display: inline;
    overflow: hidden;
    height: 36px;
    width: 180px;
    list-style-type: none;
    padding: 8px 5px;
    background: #A71930;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: normal;
    border-right: solid 2px white;
    border-left: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.statbutton-highlight {
    border-right: solid 2px gray;
    border-left: solid 2px gray;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

.statbutton-selected {
    background: #841527;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.qbbutton {
    width: 140px;
}

.yearbutton {
    width: 60px;
}

.playoffbutton {
    width: 120px;
}

.filterbutton {
    float: left;
    display: inline;
    overflow: hidden;
    height: 36px;
    list-style-type: none;
    padding: 8px 5px;
    background: #A71930;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: normal;
    border-right: solid 2px white;
    border-left: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.filterbutton-highlight {
    background: #841527;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

